* {
  font-family: "Noto Sans Mono", monospace;
}

body {
	background-color: #ddd; /* no stark-white background */
}

h1 {
	font-size: 36pt; /* visibility and attention */
}

button svg {
  width: 28px;
  height: 28px;
  fill: #fefefe;
  vertical-align: middle;
}

.centered-cell {
  text-align: center !important;
}

.btn-base {
  border: none;
  border-radius: 5px;
  padding: 1px 1px;
  margin: 6px;
  cursor: pointer;
}

/* clickables color changes */
.btn-green {
  background-color: hsl(120, 50%, 50%);
}

.btn-green:hover {
  background-color: hsl(120, 50%, 40%);
}

.btn-green:active {
  background-color: hsl(120, 50%, 30%);
}

.btn-red {
  background-color: hsl(0, 50%, 50%);
}

.btn-red:hover {
  background-color: hsl(0, 50%, 40%);
}

.btn-red:active {
  background-color: hsl(0, 50%, 30%);
}

.btn-yellow {
  background-color: hsl(60, 50%, 50%);
}

.btn-yellow:hover {
  background-color: hsl(60, 50%, 40%);
}

.btn-yellow:active {
  background-color: hsl(60, 50%, 30%);
}
/* end clickables color changing */

#btn-container {
  display: flex;
  flex-direction: row;
}

#status {
  border-collapse: separate;
  border-spacing: 0;
}

#status td {
  padding: 10px;  
  border: 2px solid #ddd;
  border-radius: 3px;
}

#status thead td {
  text-align: center;
  font-weight: bold;
}

#status tbody td {
  text-align: left;
}

#status tr td {
  background-color: #eee;
}

#status tr:hover td {
  background-color: #f4f4f4;
}

.scrollable-box {
  width: 100%; /* fill whole page */
  overflow-x: auto;
}

pre {
  white-space: pre;
  background-color: #eee;
  padding: 10px;
  border-radius: 3px;
  overflow-x: auto;
}
