body {
  font-family: "Noto Sans Mono", monospace;
}

button svg {
  width: 28px;
  height: 28px;
  fill: #fefefe;
  vertical-align: middle;
}

.centered-cell {
  text-align: center !important;
}

.btn-emoji-base {
  font-family: "Noto Sans Mono", monospace;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  font-size: 1.5em;
}

.btn-emoji-green {
  filter: hue-rotate(-120deg);
}

.btn-emoji-green:hover {
  filter: hue-rotate(-120deg) brightness(0.8);
}

.btn-emoji-green:active {
  filter: hue-rotate(-120deg) brightness(0.7);
}

.btn-emoji-red {
  filter: hue-rotate(-220deg) saturate(1.5);
}

.btn-emoji-red:hover {
  filter: hue-rotate(-220deg) saturate(1.5) brightness(0.8);
}

.btn-emoji-red:active {
  filter: hue-rotate(-220deg) saturate(1.5) brightness(0.7);
}

.btn-emoji-yellow {
  filter: hue-rotate(-180deg) brightness(1.3) saturate(2);
}

.btn-emoji-yellow:hover {
  filter: hue-rotate(-180deg) saturate(2) brightness(1);
}

.btn-emoji-yellow:active {
  filter: hue-rotate(-180deg) saturate(2) brightness(0.9);
}

.btn-base {
  font-family: "Noto Sans Mono", monospace;
  border: none;
  border-radius: 5px;
  color: #000;
  padding: 1px 1px;
  font-weight: 600;
  margin: 6px;
  cursor: pointer;
}

.btn-green {
  background-color: hsl(120, 50%, 50%);
}

.btn-green:hover {
  background-color: hsl(120, 50%, 40%);
}

.btn-green:active {
  background-color: hsl(120, 50%, 30%);
}

.btn-red {
  background-color: hsl(0, 50%, 50%);
}

.btn-red:hover {
  background-color: hsl(0, 50%, 40%);
}

.btn-red:active {
  background-color: hsl(0, 50%, 30%);
}

.btn-yellow {
  background-color: hsl(60, 50%, 50%);
}

.btn-yellow:hover {
  background-color: hsl(60, 50%, 40%);
}

.btn-yellow:active {
  background-color: hsl(60, 50%, 30%);
}

#btn-container {
  display: flex;
  flex-direction: row;
}

#status {
  border-collapse: collapse;
}

#status thead td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: bold;
}

#status tbody td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#status tr:nth-child(even) {
  background-color: #f2f2f2;
}

#status tr:hover {
  background-color: #ddd;
}

.scrollable-box {
  width: 100%;
  overflow-x: auto;
}

pre {
  font-family: "Noto Sans Mono", monospace;
  white-space: pre;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 3px;
  overflow-x: auto;
}
